/* ETAPE 1 - Définir toutes les conditions sur la police et pour chaque bloc*/
@font-face /*charger la police applicable au site */
{
	font-family: 'raleway';
	src: url('Raleway-VariableFont_wght.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face /*charger la police applicable au site */
{
	font-family: 'raleway';
	src: url('Raleway-Italic-VariableFont_wght.ttf'); 
	font-weight: normal;
	font-style: italic;
}

@media all and (max-device-width: 480px)
{
	#bloc_page
	{
		width: auto;
	}
	
	#bloctitre
	{
		flex-wrap: wrap;
		font-size: 18px;
	}
	.soustitre
	{
		margin-top: 5px;
	}

	nav ul
	{
		flex-wrap: wrap-reverse;
		margin-right: 20%;
	}


	#blocfiltre
	{
		flex-flow: row wrap;
		width: 110px;
	}
	#cat
	{
		width: 30px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.title_eco
	{
		font-size: 13px;
	}
	#famille
	{
		width: 30px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.title_fam
	{
		font-size: 13px;
	}
	#romantique
	{
		width: 30px;
		margin-bottom :3px;
		margin-top: 3px;
	}
	#animaux
	{
		flex-flow: row;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.title_an
	{
		font-size: 8px;
		padding-top: 2px;
		padding-bottom: 2px;

	}
	#title_logdisp
	{
		flex-flow: row;
		width: 300px;
	}
	.titlelog
	{
		padding-left: 2px;
		font-size: 13px;
	}
	#blochotels /* hebergements et les plus populaires */
	{
		flex-flow : column wrap;
		margin-left: 10px;
	}
	#hebergements_Marseille
	{
		flex-flow: column;
		margin-left: 35px;
		background-color: white;
	}
	.intitule
	{
		margin-right: 400px;
		margin-left: 15px;
		width: 200px;
	}
	#hotels_images
	{
		background-color: white;
		
	}
	.image1
	{
		box-shadow: 0px 0px 2px 2px #e0e0e0;
		background-color: white;
	}
	.image2
	{
		box-shadow: 0px 0px 2px 2px #e0e0e0;
		background-color: white;
	}
	.image3
	{
		box-shadow: 0px 0px 2px 2px #e0e0e0;
		background-color: white;
	}
	.image5
	{
		box-shadow: 0px 0px 2px 2px #e0e0e0;
		background-color: white;
	}
	.image6
	{
		box-shadow: 0px 0px 2px 2px #e0e0e0;
		background-color: white;
	}
	.image7
	{
		box-shadow: 0px 0px 2px 2px #e0e0e0;
		background-color: white;
	}
	#nav
	{
		background-color: none;
		font-size: 13px;
		margin-left: 10px;
	}
	#populaire
	{
		flex-flow: row;
		background-color: #F2F2F2;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#title_logo
	{
		flex-flow: row;
	}
	.text
	{
		width: 500px;
		margin-right: 20px;
	}
	.chart
	{
		margin-left: 120px;
	}
	#eau
	{	
		flex-direction: row;
		box-shadow: 0px 0px 2px 2px #e0e0e0;
		background-color: white;
		width: 100%;
	}
	.im img
	{
		width: 100px;
		height: 110px;
		border-radius: 10px 0px 0px 10px;
	}
	.legende p
	{
		width: 200px;
	}

	#image_activites /* bloc 5 - activités à Marseille */
	{
		flex-flow: column wrap;
		margin-left: 10px;
		margin-right: 5px;
	}
	#title_act 
	{
		margin-left: 25px;
	}
	aside
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.port img
	{
		width: 260px;
		height: 140px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.parc img
	{
		width: 260px;
		height: 140px;	
		padding-left: 0px;
		padding-right: 0px;
	}
	#blocfooter  /* Bloc 6 footer */
	{
		display: flex;
		flex-flow: column wrap;
	}
	
	.a_propos
	{ 
		padding-left: 15px;
	 }
	.Nos_heb
	{
		padding-left: 15px;
		padding-right: 180px;
	}
	.assist
	{
		padding-left: 15px;
	}
}



body
{
	font-family:'Raleway';
	font-style: normal;
}


header
{
	height: 35%
}

/* bloc1 - position logo + menu */
#bloclogo
{
	display: flex;
	justify-content: space-between;
}
nav ul /*structure des ancres*/
{
	list-style-type: none;
	display: flex;
	flex-direction: line;
	font-size: 13px;
	font-weight: bold;
}
nav li /*donne l'écartement entre chaque mot de liste */
{
	margin-left: 28px
}
a
{
	transition: color 1s;
}
a:hover
{
	color: green;
}

#bloctitre /* Titre et paragraphe sous le logo */
{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
}
.title
{
	font-weight: bold;
	font-size: 1,7em;
}
.soustitre
{
	font-size: 13px;
	margin-bottom: 10px;
}

#blocrecherche /* champs de recherche */
{
	display: flex;
	justify-content: flex-start;
	margin-right: 70%;
	margin-top: 20px;
	margin-bottom: 30px;
}
.recherche
{
	border-radius: 0px 10px 10px 0px;
	background-color: #0065FC;
	padding-top:10px;
	padding-bottom: 10px;
	text-align: center;
	align-items: center;
	width: 100px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}
.icone
{
	background-color: #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	width: 35px;
	padding-left: 10px;
}	
i
{
	padding: 4px;
	font-color: black;
}
.zone_recherche
{
	border-radius: 0px 10px 10px 0px;
	border-color: 1px 1px 1px 0px solid #e0e0e0;
}
.champ
{
	height: 30px;
}

#blocfiltre /* filtres */
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 35%;
	margin-bottom: 20px;
}
.fa
{
	color: #0065FC;
	border-radius: 10px 10px 10px 10px;
	font-size: 90%;
	padding: 2px;
}
.Filtres
{
	padding: 10px;
	font-weight: bold;
}

#cat /* bloc catégorie */
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	width: 160px;
	font-weight: bold;
}
.title_eco /*class du bloc cat */
{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	border-top: 1px #e0e0e0 solid;
	border-right: 1px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
	border-radius: 0px 10px 10px 0px;
	margin-left: -18px;
	padding-left: 28px;
}
.fa-band-aid
{
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	background-color: #DEEBFF;
	border-radius: 50%;
}
#famille /* bloc catégorie */
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	width: 160px;
	font-weight: bold;
}
.title_fam /*class du bloc cat */
{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	border-top: 1px #e0e0e0 solid;
	border-right: 1px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
	border-radius: 0px 10px 10px 0px;
	margin-left: -18px;
	padding-left: 28px;
}
.fa-child
{
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	background-color: #DEEBFF;
	border-radius: 50%;
}
#animaux /* bloc catégorie */
{
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	border-radius: 10px 10px 10px 10px;
	width: 260px;
	font-weight: bold;
}
.title_an /*class du bloc cat */
{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	border-top: 1px #e0e0e0 solid;
	border-right: 1px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
	border-radius: 0px 10px 10px 0px;
	margin-left: -18px;
	padding-left: 28px;

}
.fa-dog
{
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	background-color: #DEEBFF;
	border-radius: 50%;
}
#romantique /* bloc catégorie */
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	width: 160px;
	font-weight: bold;
}
.title_rom /*class du bloc cat */
{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	border-top: 1px #e0e0e0 solid;
	border-right: 1px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
	border-left: none;
	border-radius: 0px 10px 10px 0px;
	margin-left: -18px;
	padding-left: 28px;
}
.fa-heart
{
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	background-color: #DEEBFF;
	border-radius: 50%;
}

#title_logdisp
{
	display: flex;
	justify-content: space-between;
	margin-right: 73%;
	margin-top: 10px;
	margin-bottom: 15px;
}
.fa-info
{
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	margin-right: 5px;
	border-style: 1px solid grey;
}
.titlelog
{
	font-size: 13px;
}

#blochotels /* hébergements et les plus populaires*/
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 42%;
}
#hebergements_Marseille
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width: 70%;
	border-radius: 0px 10px 10px 0px;
}
.intitule
{
	margin-left: 35px;
}
#hotels_images
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
p
{
	font-size: 12px;
}

img
{
	border-radius: 10px 10px 0px 0px;
}
.image1
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 12px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	background-color: white;
}

.image2
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 12px;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	background-color: white;
}
.image3
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 12px;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	background-color: white;
}
.image5
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	background-color: white;
}
.image6
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	background-color: white;
}
.image7
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	background-color: white;
}
#nav
{
	margin-top: 15px;
	margin-left: 40px;
	margin-bottom: 20px;
}
#populaire
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width: 28%;
	border-radius: 10px 0px 0px 10px;
	margin-left: 20px;
}
#title_logo
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.fa-chart-line
{
	font-size: 25px;
	margin-right: 20px;
	margin-top: 20px;
}
.text
{
	margin-left: 35px;
}
#images_pop
{
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.flotte
{
	float: left;
}
#eau
{
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 80%;
	height: 25%;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
}
.im
{
	margin-left: 5px;
	border-radius: 10px 0px 0px 10px
}
.legende
{
	margin-left: 5px;
	padding-top: 15px;
}
#bleu
{
	display: flex;
	background-color: white;
	flex-direction: row;
	width: 80%;
	height: 25%;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
}
#soleil
{
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 80%;
	height: 25%;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 10px 10px 10px 10px;
}

#blocactivites /*activités à Marseille */
{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	height: 30%;
}
#image_activites
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.port
{
	margin-left: 15px;
	margin-right: 18px;
}
.iles
{
	margin-left: 18px;
	margin-right: 18px;
}
.parc
{
	margin-left: 18px;
	margin-right: 18px;
}
.dame
{
	margin-left: 18px;
	margin-right: 15px;
}
aside
{
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	box-shadow: 0px 0px 5px 5px lightgrey;
	padding: 8px;
	font-weight: bold;
	margin-bottom: 30px;
}

#blocfooter
{
	display: flex;
	flex-direction: row;
	background-color: #F2F2F2;
	justify-content: space-between;
	height: 20%;
}
.assist
{
	margin-right: 20%;
	list-style-type: none;
	font-size: 12px;
}
.Nos_heb
{
	list-style-type: none;
	font-size: 12px;
}
.a_propos
{
	font-size: 12px;
	list-style-type: none;
}